
body {
   font-family: Arial,Sans-serif,"Times New Roman", serif;
}

h2 {
  font-weight: : bold;
  text-align: center;
  color: #C70039;
}

legend {
  background-color: #C70039;
  color: white;
  font-weight: normal;
  width: 290px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

fieldset {
  border-color: #C70039;
  background-color: #E5E8E8;
  font-weight: bold;
}
p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.name {
  width: 425px;
}
.street {
  width:240px;
}
.city {
  width:250px;
}
input[type=email] {
  width: 250px;
}
.button {
  background-color: #C70039;
  color: white;
  width:100px;
  padding: 15px;
  margin-top: 15px;
  border-color: grey black grey black
}
